.item img{
    width: 100%;
}
.text-center{
    color: white;
}

.div
{
    background: transparent;
    display: inline-block;
    width: 33%;
    text-align: center;
}

.div img
{width: 100% ;
}
.boo{
    margin-top: 40px;
}
